# ignore all files except
# directories and .gitignore
# (note that empty directory is ignored)
*
!*/
!.gitignore

# source code
!*.c
!*.cpp
!*.py
# descriptions & solutions
!*.md
!*.pdf
# scripts
!*.sh